@charset "UTF-8";

/* Configurações de estilo para dispositivos de largura máxima de 520px; */

:root{
    --varcor0: #010e29;
    --varcor1: #03588C;
    --varcor2: #023859;
    --varcor3: #038C73;
    --varcor4: #8C6330;
}

header div#botao-menu, div#rodape-cabecalho{
    display: block;
}

header > div#menu-telefone-520px > div#botao-menu{
    background-color: var(--varcor1);
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    padding: 15px 0px;
    text-align: center;
}

header > div#menu-telefone-520px > nav{
    background-image: linear-gradient(to top, #03588C, #010e29);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    left: -500px;
    position: fixed;
    top: 0px;
    transition-duration: 0.7s;
    width: 240px;
    z-index: 10;
}

header > div#menu-telefone-520px > nav > div#links{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 10px;
}

header > div > nav > #links > a{
    border-top: 1px solid #038C73;
    border-radius: 8px;
    color: white;
    padding: 12px;
    text-decoration: none;
}

header > div > nav > #links > a:hover{
    background-color: var(--varcor2);
}

header > div > nav > #rodape-cabecalho{
    color: white;
    display: flex;
    flex-direction: column;
    font-style: italic;
    padding-bottom: 12px;
    row-gap: 10px;
    text-align: center;
}

main{
    padding: 10px 12px 10px 12px;
}

main > section > h1{
    color: var(--varcor1);
    font-size: 1.6em;
    font-weight: normal;
}

main > section > h2{
    font-size: 1.3em;
}

figure#figura-foto-desenvolvedor-367px{
    display: none;
}

figure#figura-foto-desenvolvedor-260px{
    background-color: #010e29;
    border-radius: 10px;
    display: block;
    margin: auto;
    position: relative;
    width: 260px;
}

figure#figura-foto-desenvolvedor-260px > figcaption{
    background-color: rgba(0, 0, 0, 0.482);
    border-radius: 10px;
    box-sizing: border-box;
    height: 100%;
    opacity: 0;
    padding: 20px 2px 0px 8px;
    position: absolute;
    transition: .8s;
    width: 100%;
}

figure#figura-foto-desenvolvedor-260px > figcaption > h1, figcaption > p{
    color: white;
    font-style: italic;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

figure#figura-foto-desenvolvedor-260px > img{
    border-radius: 10px;
    display: block;
    margin: auto;
    height: 100%;
}

main > section > p{
    line-height: 1.5em;
    text-align: justify;
    text-indent: 36px;
}

main table{
    border-collapse: collapse;
    margin: auto;
    width: 350px;
}

main table caption{
    color: #8C6330;
    font-style: italic;
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 0px;
}

main table thead{
    background-color: #038C73;
}

main table thead tr th{
    border: 1px solid black;
}

main table tfoot th{
    background-color: #038C73;
}

main table th, td{
    padding: 5px;
    text-align: center;
}

footer{
    display: grid;
    row-gap: 20px;
}

footer > div#contacto-rodape{
    display: flex;
    justify-content: space-between;
}

footer > div#contacto-rodape > div#redes-sociais, div#contacto-rodape > #sites{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}