@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@font-face{
    font-family: 'paragrafos';
    src: url('fonts/paragrafos/static/MonaSans_Condensed-Black.ttf') format('truetype');
}

:root{
    --varcor0: #010e29;
    --varcor1: #03588C;
    --varcor2: #023859;
    --varcor3: #038C73;
    --varcor4: #8C6330;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header > div#cabecalho{
    align-items: center;
    background-color: #010e29;
    color: white;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    row-gap: 10px;
}

header > div#cabecalho > span#titulo-cabecalho{
    font-family: 'Dancing Script', 'Mona Sans', Arial, Helvetica, sans-serif;
    font-size: 3.6em;
}

header > div#cabecalho > span#conteudo-cabecalho{
    padding: 0px 10px;
    text-align: center;
}

main > section > p > span#conteudo-hora{
    font-weight: bold;
}

main > section > p{
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
}

main > section > h2{
    background-image: linear-gradient(to right, var(--varcor1), transparent);
    border-radius: 8px;
    color: #010e29;
    font-weight: normal;
    padding: 10px;
}

main > section > table{
    border-collapse: collapse;
}

main > section > table, table > thead, tbody, tfoot > tr > th, td{
    border: 1px solid black;
}

main > section > table > thead > tr > th{
    border: 1px solid black;
}

#tabela{
    overflow-x: scroll;
}

main > section blockquote{
    color: #03588C;
    font-style: italic;
    line-height: 1.5em;
}

footer{
    background-image: linear-gradient(to right, #010e29, #03588C);
    color: white;
    font-style: italic;
    padding: 20px;
    text-align: center;
}

footer > div#contacto-rodape > div > span{
    align-items: center;
    display: flex;
}

footer > div#contacto-rodape > div > span > a{
    color: white;
    text-decoration: none;
}