@charset "UTF-8";

:root{
    --varcor0: #D91438;
    --varcor1: #014040;
    --varcor2: #027368;
    --varcor3: #038C73;
    --varcor4: #D9AD2B;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}