@charset "UTF-8";

:root{
    --varcor0: #010e29;
    --varcor1: #03588C;
    --varcor2: #023859;
    --varcor3: #038C73;
    --varcor4: #8C6330;
}

main > section > h2{
    border-radius: 0px 10px;
    box-shadow: inset 3px 3px 4px 2px #03588C;
    font-size: 1.4em;
    font-weight: normal;
    margin: auto;
    max-width: 300px;
    padding: 6px 4px;
    text-align: center;
}

main > section > h2::after{
    content: '😅💻';
}